@charset "UTF-8";


/* ========BASIC======== */
html {
   overflow-y:scroll;
}

body {
   margin:0;
   padding:0;
   line-height:1.6;
   letter-spacing:1px;
   font-family:Verdana, Helvetica, sans-serif;
   font-size:13px;
   color:#333;
   background:#EFEFEA;
}

br {
   letter-spacing:normal;
}

a {
   color:#333;
   text-decoration:none;
}

a:hover {
   color:#DF8713;
   text-decoration:none;
}

img {
   border:0;
   max-width: 550;
   max-width: -webkit-fill-available;
   max-height: -webkit-fill-available;
   max-width: 100%;
   max-height: 100%;
}

h1,h2,h3,h4,h5,h6 {
   margin:0;
}

#subtitle {
    font-size: 200%;
}


/* ========TEMPLATE LAYOUT======== */
#top {
   width:789px;
   margin:0 auto;
   border-left:1px solid #ccc;
   border-right:1px solid #ccc;
   background:#fff;
}

#header {
   width:785px;
   margin:0 2px;
   background:#4f3333;
}

#menu {
   margin:0 2px;
}

#contents {
   clear:both;
   width:785px;
   margin:0 2px;
   padding:10px 0;
}

#main {
   float:left;
   width:560px;
   padding:0 5px;
}

#sub {
   float:right;
   width:200px;
   padding-right:5px;
}

#footer {
   clear:both;
   width:774px;
   margin:0 2px;
}

/* 回り込み解除 */
#contents:after {
   content:"";
   display:block;
   height:0;
   clear:both;
   visibility:hidden;
}


/* ========HEADER CUSTOMIZE======== */
#header h1 {
   margin:0;
   padding:0 10px;
   font-size:24px;
   color:#fff;
   line-height:80px;
}

#header h1 a {
   color:#fff;
}

#header h1 a:hover {
   color:#DF8713;
}


/* ========MENU CUSTOMIZE======== */
#menu ul {
   margin:0 -1px 0 0;
   padding:0;
   list-style:none;
}

#menu li {
   float:left;
   margin-right:1px;
   background:#ddd;
}

#menu li a{
   display:block;
   width:130px;
   color:#fff;
   text-align:center;
   line-height:2.5;
   background:#9C6565;
}

#menu li a:hover{
   color:#fff;
   background:#DF8713;
}

/* 回り込み解除 */
#menu ul:after{
   content:"";
   display:block;
   height:0;
   clear:both;
   visibility:hidden;
}


/* ========MAIN CONTENTS CUSTOMIZE======== */
#main a {
   color:#DF8713;
}

#main a:hover {
   border:0;
   color:#DF8713;
   border-bottom:1px solid #DF8713;
}

#main h2 {
   margin-bottom:3px;
   padding:2px 2px 2px 5px;
   font-size:15px;
   font-weight:bold;
   border-left:5px solid #4E3333;
   background:url(../images/bg_h2.gif);
}

#main h3 {
   margin-bottom:2px;
   padding-left:25px;
   font-size:15px;
   background:url("../images/bg_h3.gif") 0 50% no-repeat;
}

#main h4 {
   margin:0 0 5px 0;
   font-size:15px;
}

#main h5 {
   margin:0 0 5px 0;
   padding:2px;
   font-size:13px;
   color:#fff;
   background:#9C6565;
}

#main h6 {
   margin:0 0 5px 0;
   font-size:13px;
   color:#4E3333;
   border-bottom:2px solid #4E3333;
}

#main p{
   margin:0 0 1em 0;
}

#main dl {
   margin:0;
   padding:0;
}

#main dt {
   font-weight:bold;
}

#main dd {
   margin:0 0 1em 0;
   padding:0;
}

#main ul,
#main ol {
   margin:0 0 1em 40px;
   padding:0;
}

/* ========SUB CONTENTS CUSTOMIZE======== */
#sub .section {
   margin-bottom:10px;
   padding:10px;
   background:#DEDDD0;
}

#sub h2 {
   padding-bottom:5px;
   text-align:center;
   font-size:15px;
   font-weight:bold;
   color:#fff;
   border-bottom:1px solid #93847B;
}

#sub ul {
   margin:0;
   padding:5px 0 0 10px;
}

#sub li {
   margin:0;
   padding-left:12px;
   background:#DEDDD0 url("../images/bg_list.gif") 0 50% no-repeat;
   list-style:none;
}


/* ========PAGETOP CUSTOMIZE========= */
#pageTop {
   padding:10px;
   text-align:right;
}

#pageTop a{
   padding:0 0 0 12px;
   background:url("../images/bg_pagetop.gif") 0 60% no-repeat;
}


/* ========FOOTER CUSTOMIZE======== */
.copyright {
   padding:20px 0;
   text-align:center;
   font-style:normal;
   font-size:11px;
   color:#333;
   border-top:1px solid #ccc;
}

/* Doxy pretty-printing styles. Used with prettify.js.  */

pre .str, code .str { color: #fec243; } /* string  - eggyolk gold */
pre .kwd, code .kwd { color: #8470FF; } /* keyword - light slate blue */
pre .com, code .com { color: #32cd32; font-style: italic; } /* comment - green */
pre .typ, code .typ { color: #6ecbcc; } /* type - turq green */
pre .lit, code .lit { color: #d06; } /* literal - cherry red */
pre .pun, code .pun { color: #8B8970;  } /* punctuation - lemon chiffon4  */
pre .pln, code .pln { color: #f0f0f0; } /* plaintext - white */
pre .tag, code .tag { color: #9c9cff; } /* html/xml tag  (bluey)  */
pre .htm, code .htm { color: #dda0dd; } /* html tag  light purply*/
pre .xsl, code .xsl { color: #d0a0d0; } /* xslt tag  light purply*/
pre .atn, code .atn { color: #46eeee; font-weight: normal;} /* html/xml attribute name  - lt turquoise */
pre .atv, code .atv { color: #EEB4B4; } /* html/xml attribute value - rosy brown2 */
pre .dec, code .dec { color: #3387CC; } /* decimal - blue */

a {
  text-decoration: none;
}
pre.prettyprint, code.prettyprint {
  font-family:'Droid Sans Mono','CPMono_v07 Bold','Droid Sans';
  font-weight: bold;
  font-size: 9pt;
  background-color: #0f0f0f;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  overflow:auto;
  word-wrap:normal;
}  /*  background is black (well, just a tad less dark )  */

pre.prettyprint {
  width: 95%;
  margin: 1em auto;
  padding: 1em;
  white-space: pre-wrap;
}

pre.prettyprint a, code.prettyprint a {
   text-decoration:none;
}
/* Specify class=linenums on a pre to get line numbering; line numbers themselves are the same color as punctuation */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #8B8970; } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { }
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 { }

/* print is mostly unchanged from default at present  */
@media print {
  pre.prettyprint, code.prettyprint { background-color: #fff;  }
  pre .str, code .str { color: #088; }
  pre .kwd, code .kwd { color: #006; font-weight: bold; }
  pre .com, code .com { color: #oc3; font-style: italic; }
  pre .typ, code .typ { color: #404; font-weight: bold; }
  pre .lit, code .lit { color: #044; }
  pre .pun, code .pun { color: #440; }
  pre .pln, code .pln { color: #000; }
  pre .tag, code .tag { color: #b66ff7; font-weight: bold; }
  pre .htm, code .htm { color: #606; font-weight: bold; }
  pre .xsl, code .xsl { color: #606; font-weight: bold; }
  pre .atn, code .atn { color: #c71585;  font-weight: normal; }
  pre .atv, code .atv { color: #088;  font-weight: normal; }
}
